<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Medicover", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>


<div class="container">
  <div class="center jumbotron">
  <h1>Influenza News Today!</h1>

  <h2>
    Welcome to the one stop shop for all Influenza news
  </h2>
</div>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Hello
      </h1>
    </section>
  </aside>

    <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Hello
      </h1>
    </section>
  </aside>

    <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Hello
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    World Map
  </div>
</div>

<footer class="footer">
  <small>
    The <a href="#">CanDev 2018</a>
    by <a href="#">Mourad Ben Rejeb, Mark Mroz, Estaban Pinzon Delgado </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>

</div>



